<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="IdeaKeyScheme"
            name="IntelliJ Idea"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="org.eclipse.jdt.ui.navigate.open.type"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+N">
      </key>
      <key
            commandId="org.eclipse.search.ui.openSearchDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="Ctrl+Shift+F">
      </key>
      <key
            commandId="org.eclipse.ui.navigate.showInQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="Alt+F1">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.show.outline"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+F12">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.surround.with.quickMenu"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+T">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.goto.matching.bracket"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+]">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+B">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+B">
      </key>
      <key
            commandId="org.eclipse.ui.navigate.backwardHistory"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+ARROW_LEFT">
      </key>
      <key
            commandId="org.eclipse.ui.navigate.forwardHistory"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+ARROW_RIGHT">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.gotoLastEditPosition"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+BS">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.goto.line"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+G">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findNext"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="F3">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findPrevious"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="SHIFT+F3">
      </key>
      <key
            commandId="org.eclipse.ui.navigate.openResource"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+N">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.moveLineDown"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+ARROW_DOWN">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.moveLineUp"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.goto.next.member"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="ALT+ARROW_DOWN">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.goto.next.member"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            platform="carbon"
            sequence="CTRL+ARROW_DOWN">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.goto.previous.member"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="ALT+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.goto.previous.member"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            platform="carbon"
            sequence="CTRL+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.extract.local.variable"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+V">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.extract.constant"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+C">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.extract.method"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+M">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.refactoring.introduceparamobject"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+P">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.rename.element"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="SHIFT+F6">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.select.enclosing"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+W">
      </key>
      <key
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+W">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.select.last"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+W">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+CR">
      </key>
      <key
            commandId="org.eclipse.ui.file.newQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+INSERT">
      </key>
      <key
            commandId="org.eclipse.ui.file.newQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            platform="carbon"
            sequence="CTRL+N">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.JavadocView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="CTRL+Q">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.JavadocView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            platform="carbon"
            sequence="CTRL+J">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.organize.imports"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+O">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.copyLineUp"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+D">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.format"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+L">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.override.methods"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+O">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.delete.line"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+Y">
      </key>
      <key
            commandId="org.eclipse.ui.edit.redo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+Z">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.join.lines"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="CTRL+SHIFT+J">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findIncremental"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="ALT+F3">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.search.references.in.workspace"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+F7">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.inline"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="ALT+M1+N">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.folding.expand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+=">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.folding.expand_all"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+=">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.folding.expand_all"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+NUMPAD_ADD">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.folding.collapse"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+-">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.folding.collapse_all"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+-">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.folding.collapse_all"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+NUMPAD_SUBTRACT">
      </key>
      <key
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+U">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.open.super.implementation"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="IdeaKeyScheme"
            sequence="M1+U">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.RunLast"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="SHIFT+F10">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.DebugLast"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="SHIFT+F9">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+F8">
      </key>
      <key
            commandId="org.eclipse.debug.ui.BreakpointView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+Shift+F8">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.StepOver"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="IdeaKeyScheme"
            sequence="F8">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.StepInto"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="IdeaKeyScheme"
            sequence="F7">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.StepReturn"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="IdeaKeyScheme"
            sequence="Shift+F8">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.RunToLine"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="IdeaKeyScheme"
            sequence="Alt+F9">
      </key>
      <key
            commandId="org.eclipse.jdt.debug.ui.commands.Inspect"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="IdeaKeyScheme"
            sequence="Alt+F8">
      </key>
      <key
            commandId="org.eclipse.debug.ui.commands.Resume"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="IdeaKeyScheme"
            sequence="F9">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.SourceView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+I">
      </key>
      <key
            commandId="org.eclipse.ui.window.preferences"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="CTRL+ALT+S">
      </key>
      <key
            commandId="org.eclipse.ui.window.resetPerspective"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="SHIFT+F12">
      </key>
      <key
            commandId="org.eclipse.ui.window.maximizePart"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="IdeaKeyScheme"
            sequence="M1+SHIFT+F12">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="idea-templates.xml">
      </include>
   </extension>

</plugin>
